body {
    margin: 0;
    padding: 0;
    font-family: 'Irish Grover', sans-serif;
    background-color: #f4f5c3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: auto;
  }
  
  header h1 {
    margin: 0;
    font-size: 28px;
  }
  
  main {
    background-color: #faf9e5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  main h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e3e3e3;
  }
  
  form button {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #c4c4c4;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form button:hover {
    background-color: #b3b3b3;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }
  
  .options a {
    color: #555;
    text-decoration: none;
  }
  
  .options a:hover {
    text-decoration: underline;
  }
  
  .signup {
    margin-top: 15px;
  }
  
  .signup a {
    font-weight: bold;
    text-decoration: none;
    color: #000;
  }
  
  .signup a:hover {
    text-decoration: underline;
  }
  
