body {
    background-color: #e2eeab;
    margin: 0;
    padding: 0;
    font-family: 'Irish Grover', sans-serif;
  }
  
  body {
    background-color: #e2eeab;
    margin: 0;
    padding: 0;
  }
  
  #navbar, #FAQ-title {
    font-family: 'Irish Grover', sans-serif;
    font-size: 36px;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  #brand {
    display: flex;
    align-items: center;
  }
  
  #brand-name {
    margin-left: 10px;
  }
  
  .nav-buttons-container {
    display: flex;
    gap: 15px;
  }
  
  .nav-button {
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .nav-button:hover {
    text-decoration: underline;
  }
  
  
  #login-container {
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 15% 10%;
  }
  
  #login-title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .login-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #login-options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    font-size: 16px;
  }
  
  #login-button {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    color: black;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
  }
  
  #login-button:hover {
    background-color: #bbb;
  }
  
  #signup-container {
    font-size: 16px;
    text-decoration: underline;
  }
  
  #signup-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  
  #signup-link:hover {
    text-decoration: underline;
  }
  
  a {
    text-decoration: none;
  }
  
  input[type="text"], input[type="password"] {
    width: 100%; /* Adjust width to fit container */
    padding: 10px;
    margin-bottom: 10px; /* Space between input fields */
    border: 1px solid #ccc; /* Subtle border */
    border-radius: 5px; /* Rounded corners */
    background-color: #c7c8b5; /* Muted gray-green background */
    font-size: 16px; /* Font size for readability */
    color: #333; /* Text color */
    box-sizing: border-box; /* Ensures padding doesn't overflow width */
  }
  
  input[type="text"]:focus, input[type="password"]:focus {
    outline: none; /* Removes default outline on focus */
    border-color: #999; /* Highlight border on focus */
  }
  